.seo-footer{padding-bottom:60px}
.wrapper{background: url(../images/background-altm.jpg); background-size: 100% 100%; }
.jackpot-wrapper{filter:unset}
.progressive-jackpot{filter:unset}
.progressive-jackpot img{filter:unset}
.progressive-jackpot>h2{display:none}
.btn,.side-nav a.btn{color: transparent; text-shadow: none;}
.btn-secondary-primary{background:url(../images/btn-login-altm.png);background-size: 100% 100%; border: 0; }
.btn-join{background:url(../images/btn-register-altm.png); background-size: 100% 100%; border:0; }
.btn-grey{ color: #333;}
.navbar-fixed{background:url(../images/middle-altm.jpg); background-size: 50%; text-align:center; }
.navbar-fixed .button-collapse{ padding: 8px; background-color: #0a4db1; border-radius: 3px solid #03024c;}
.page-header-title{background-color:#46dced;color: #0123cd;}
.page-header-title a{color:#0123cd}
.main-header-title{background: #46dced; color: #0123cd;}
.account-menu a.active{color:#0123cd;background-color:#46dced}
.navigation-ribbon .navigation-ribbon-item .active{color:#ffc93f}
.browser-default input{color:#e8e8e8;background-color:#333}
.bottom-nav-bar a.active{color:#46dced;}
.bottom-nav-bar a{background:none; color: #fff;}
.bottom-nav-bar{background-color: none; border-top: 1px solid #46dced;}
.btn-account ul a.icon-btn{color: #0123cd;;background:#00bff6; background-size: 100% 100%; }
.bonus-button.btn-await-approval{background-color:#fffb00;color:#ffefeb}
.bonus-button.active{background-color:#46dced;color:#ffefeb}
.bonus-button.active:hover{background-color:#46dced;color:#ffefeb;cursor:pointer}
.item-provider.selected{border-bottom:3px solid #f00018;background-color:#46dced}
.item-provider.selected span{color: #0123cd}
/* Menu Game Front index page */
.game-front-wrapper{background:url(../images/menu-altm.jpg) no-repeat;background-size:100% 100%}
/* .game-front-wrapper{background:linear-gradient(180deg, #e2ac25 , #5d4717);} */
/* .game-group-front .nav-link > i{background: url(../images/icon_nav.png);} */
.game-group-front .nav-link>i {
    width: 90px;
    height: 50px;
    margin: 0 auto;
    display: block;
    background: url(../images/icon_nav87dd.png?d=2) no-repeat;
    background-size: 60%;
    background-position: center -190px;
}
.game-group-front .nav-link{line-height:19px;color: #fff;}
.game-group-front .nav-link>span{position:relative;bottom:0}
.game-group-front .nav-link>i{height:56px}
.game-group-front .nav-link>i.casino{background-position:center -181px}
.game-group-front .nav-link>i.slot{background-position:center -47px}
.game-group-front .nav-link>i.tembak_ikan{background-position:center -255px}
.game-group-front .nav-link>i.lottery{background-position:center -325px}
.game-group-front .nav-link>i.poker{background-position:center -409px}
.game-group-front .nav-link>i.sports{background-position:center -608px}
.game-group-front .nav-link>i.games{background-position:center -678px}
.game-menu li a.active{background:linear-gradient(to bottom,#f00018 1%,#b20000 100%);filter:drop-shadow(0 0 6px #ffc93f);color:#ffc93f}
.supported-bank{
    background: url(../images/middle-altm.jpg); background-size: 100% 100%;
    padding-top: 20px; padding-bottom: 20px;
}
.supported-bank .bank{background: #03024c; border:1px solid #47e3f3;box-shadow:inset 0px 0px 5px #90f2ff;}
.custom-page{border-color:#46dced}
.promotions-category a.active{background:#46dced;color: #0123cd;}

/* Favorite */
.filter-tools a:hover, .filter-tools a.selected, .history-button{
    background: radial-gradient(circle, transparent 1%, #46dced 1%) center center / 15000% #46dced;
    border: 1px solid rgb(44 44 44 / 0.7);
    color: #0123cd;
}

/* Bonus */
.wrapper-provider-list .bonus-provider-list{background-color:rgba(106, 185, 189, 0.91)}
.bonus-link-detail{color:#46dced}
.progress-value{background:linear-gradient(180deg, rgba(34, 182, 206, 0.8) 0%, rgba(11, 244, 255, 0.69) 100%)}

/* History Datepicker */
.datepicker table tr td.active,.datepicker table tr td.active.active{
	background: url(../images/menu.jpg) no-repeat;
    background-size: 150% 150%;
    background-position: center center;
    color: #212529;
}
